.img{
    text-align: right;
    margin-top: auto;
    float: right;
    padding: 10px 20px;
    font-family: "SF-Mada";

}

.column{
    width: 25%;
    float: left;
    padding:10px 10px;
    font-family: "SF-Mada";

}

.row::after{
    content:"";
    display: table;
    clear: both;
    font-family: "SF-Mada";

}

@media screen and (max-width: 2000px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        font-family: "SF-Mada";


    }
}
.card{
    box-shadow: 0 4px 8px 0 gray;
    max-width: 300px;
    margin: auto;
    background: white;
    text-align: center;
    border-radius: 40px;
    padding: 15px;
    font-family: "SF-Mada";

}

.title{
    color: gray;
    font-size: 18px;
    font-family: "SF-Mada";

}

button{
    border: none;
    padding: 8px;
    display: inline-block;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 70%;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    font-family: "SF-Mada";

}
a:hover,button:hover{
    opacity: 0.6;
}